@using Pegasus.DAL;
@using Pegasus.Models;

@{
    ViewBag.Title = "Προκηρύξεις";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #8c8c8c">
        <font style="color:#494949;float:left;font-family:'Segoe UI'">Διαχείριση προκηρύξεων</font>
    </span>
    <span style="margin:5px 10px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "Admin", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-success" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content" style="margin:10px 30px 5px 30px">
        @(Html.Kendo().Grid<ProkirixisViewModel>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.ForeignKey(f => f.SCHOOL_YEAR, (IEnumerable<SYS_SCHOOLYEARS>)ViewData["SchoolYears"], "SY_ID", "SY_TEXT").Width(20).Title("Σχ.έτος");
            columns.Bound(m => m.PROTOCOL).Width(25);
            columns.Bound(m => m.FEK).Width(25);
            columns.Bound(m => m.HOUR_START).Width(20);
            columns.Bound(m => m.HOUR_END).Width(20);
            columns.Bound(m => m.DATE_START).Width(24);
            columns.Bound(m => m.DATE_END).Width(22);
            columns.ForeignKey(f => f.STATUS, (IEnumerable<SYS_PROKIRIXI_STATUS>)ViewData["Status"], "STATUS_ID", "STATUS").Width(20);
            columns.Bound(m => m.ACTIVE).Width(16).ClientTemplate("<input type='checkbox' #= ACTIVE ? checked='checked' : '' # class='chkbx' ></input>").Filterable(false);
            columns.Bound(m => m.ADMIN).Width(16).ClientTemplate("<input type='checkbox' #= ADMIN ? checked='checked' : '' # class='chkbx' ></input>").Filterable(false);
            columns.Bound(m => m.USER_VIEW).Width(16).ClientTemplate("<input type='checkbox' #= USER_VIEW ? checked='checked' : '' # class='chkbx' ></input>").Filterable(false);
            columns.Bound(m => m.ENSTASEIS).Width(16).ClientTemplate("<input type='checkbox' #= ENSTASEIS ? checked='checked' : '' # class='chkbx' ></input>").Filterable(false);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
            toolBar.Save();
        })
        .HtmlAttributes(new { style="font-size:13px"})
        .Filterable()
        .Navigatable()
        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Top))
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(420))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
        .Ajax()
        .Batch(true)
        .PageSize(40)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.SCHOOL_YEAR).DefaultValue(1);
            model.Field(p => p.STATUS).DefaultValue(1);
            model.Field(p => p.ACTIVE).DefaultValue(false);
            model.Field(p => p.ADMIN).DefaultValue(false);
            model.Field(p => p.USER_VIEW).DefaultValue(false);
            model.Field(p => p.ENSTASEIS).DefaultValue(false);
        })
        .Create(create => create.Action("Prokirixis_Create", "Tools"))
        .Read(read => read.Action("Prokirixis_Read", "Tools"))
        .Update(update => update.Action("Prokirixis_Update", "Tools"))
        .Destroy(destroy => destroy.Action("Prokirixis_Destroy", "Tools"))
        .Events(events => events.Error("error_handler"))
    ) @* datasource*@
)
</div>

<script id="checkbox-events" type="text/javascript">

    // Date: 16-11-2018
    // THIS IS IT! It works for any number of checkbox columns
    // in batch editing mode of the grid.
    // Solution link: https://stackoverflow.com/questions/17889049/adding-bindeable-checkbox-column-to-grid
    $(function () {
        $('#Grid').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#Grid').data().kendoGrid;

            grid.closeCell();
            var dataItem = grid.dataItem($(this).closest('tr'));
            var col = $(this).closest('td');

            grid.editCell(col);
            dataItem.set(grid.columns[col.index()].field, checked);
            grid.closeCell(col);
        });
    });

</script>


<script type="text/javascript">

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
        }
        RefreshGrid(e);
    }

</script>


