@{
    ViewBag.Title = "Σχετικά με την εφαρμογή";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: medium;
    }
</style>

<h1 style="margin-bottom:30px">@ViewBag.Title</h1>
<hr style="background-color:#D3D3D3; height:2px">

<div class="k-floatwrap" style="margin-left:auto;margin-right:auto">
    <div style="float: left;">
        <!-- Info area -->
        <article>
            <p></p>
            <p class="sansserif" style="font-weight:500">
                Οι βασικές λειτουργίες της εφαρμογής Pegasus είναι οι εξής:
            </p>
            <p class="sansserif">
                1. Ηλεκτρονική υποβολή αιτήσεων πρόσληψης από τους υποψήφιους εκπαιδευτικούς του ΟΑΕΔ.
            </p>
            <p class="sansserif">
                2. Δημιουργία ηλεκτρονικού μητρώου εκπαιδευτικών.
            </p>
            <p class="sansserif">
                3. Online μοριοποίηση των εκπαιδευτικών από τις επιτροπές (Α'/βάθμιες, Β'/βάθμιες).
            </p>
            <p class="sansserif">
                4. Δημιουργία ηλεκτρονικού μητρώου εκπαιδευτικών.
            </p>
            <p class="sansserif">
                5. Online (αυτόματη) ενημέρωση ενημέρωση των ενδιαφερομένων για την πορεία της διαδικασίας αξιολόγησης.
            </p>
            <p class="sansserif">
                6. Δημιουργία και προβολή/εκτύπωση τελικών πινάκων αξιολόγησης.
            </p>
            <p></p>
        </article>
        <!-- /Info area -->
    </div>
</div>
<p></p><p></p>

<div>
    <hr style="background-color:#D3D3D3; height:2px">
    <table width:100% style="margin-left:auto;margin-right:auto">
        <tr>
            <td width="10%" align="left"><img src="~/images/metro/dypa-logo.png" height="60" width="80" /></td>
            <td align="center">
                <font color="#494949" size="3" style="font-weight:600">Διεύθυνση Επαγγελματικής Κατάρτισης</font>
            </td>
        </tr>
        <tr>
            <td width="10%" align="left"></td>
            <td align="center">
                <font color="#494949" size="3">Δημόσια Υπηρεσία Απασχόλησης (Δ.ΥΠ.Α.)</font>
            </td>
        </tr>
    </table>
</div>
